

.products {
    width: 100%;
}

.product-items {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 255, 252);
    padding: 12px;
    /* overflow-x: scroll;
     */
     flex-wrap: wrap;
    margin-bottom:20px ;
    overflow-y: scroll;
    height: 100vh;
}

.product-item {
    width: 28%;
    text-align: center;
    align-items: center;
    padding: 20px ;
    padding-bottom: 0px;
    border: 1px solid #fdfd;
    border-radius: 20px;
    /* margin: 0 10px; */
    margin-left: 10px;
    margin-bottom: 10px;
}

.product-item .img-items {
    width: 100%;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.product-item-text {
    display: flex;
    justify-content: space-between;
}
.product-item-text h1{
    font-size: 15px;
}
.product-item-text p{
    font-size: 13px;
    /* text-decoration: line-through; */
    color: rgb(255, 0, 0);
    margin-right: 10px;
}

.product-item button {
    margin-top: 12px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(0, 255, 255);
    border: none;
    transition: all 0.3s ease;
}

.product-item button:hover {
    background-color: rgb(255, 145, 0);
}

/*-------------------cart -------------*/
.cart {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
   
    /* display: none; */
}

.cart h2 {
    margin-bottom: 20px;
}

.cart table {
    width: 100%;
}

.cart table thead tr th:first-child {
    text-align: left;
}

.cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}

.cart table thead tr th:last-child {
    text-align: right;

}

.cart table tbody tr td:last-child {
    text-align: right;

}

.cart {
    margin-top: 0px;
    height: 100vh;
    width: 580px;
    
    background-color: #ddd;
    padding: 10px 20px;
    overflow-y: scroll;
    border-radius: 10px;
}

.cart button {
    margin-top: 12px;
    height: 30px;

    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(0, 255, 255);
    border: none;
    transition: all 0.3s ease;
}

.cart button:hover {
    background-color: rgb(255, 145, 0);
}

.cart-icon i {
    cursor: pointer;
}

.close {
    width: 16.01px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    
}

.close:hover i {
    color: rgb(255, 0, 0);
}

.conntent {
    margin: 0 50px;
}
.ratting{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.ratting img{
    width: 80px;
}

.content-cotai{
    display: grid;
    grid-template-columns: 60% 40%;
    
    /* width: 100%;  */
}
.title{
    font-size: 14px;
    margin-right: 20px;
    margin-left: 10px;
    font-weight: bold;
}
#number{
    border: none;
    border-radius: 5px;
}
table th{
    font-size: 14px;
}

/* .open {
    display: flex;
}

.header-cart {
    justify-content: space-between;
}

.cart {
    flex-direction: column;
} */

.model-container{
    width: 100%;
}
.header-cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.conntent{
    display: none;
}